/* Global Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #2d98da;
  color: #fff;
}

.App {
  text-align: center;
}

.content {
  padding: 20px;
}

/* Navbar Styles */
.navbar {
  background-color: #3498db;
  padding: 10px;
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

.navbar li {
  display: inline;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  text-decoration: underline;
}

h1 {
  color: white;
}
